In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
fl = pd.read_csv('all_odi_players.csv', parse_dates = ['Date of birth', 'ODI Debut'] )

In [3]:
pd.set_option('display.max_columns', 31)
fl.head()

,Name,Date of birth,Team,Batting Style,Bowling Style,ODI Debut,Debut Team,Matches played,Innings,Total Run,Not Out,Highe Score,Batting Avg,Balls faced,Stick rate,100s,50s,4s,6s,Caught,Stumped,Balls,Runs,Wickets,Bowling Avg,Economy,Stick rate.1,5WI,10WM,BBI,BBM
0,Aaron James Redmond,1979-09-23,new zealand,Right-hand bat,Leg-break,2009-10-03,new zealand,6,6,152,0,52,25.33,259,58.68,0,1,19,0,3,0,0,0,0,0.00,0.000,0.00,0,0,0,0
1,Adam Fraser Milne,1992-04-13,new zealand,Right-hand bat,Right-arm fast,2012-11-10,sri lanka,40,17,168,7,36,16.80,165,101.80,0,0,11,4,21,0,1801,1581,41,38.56,5.267,43.92,0,0,1/8,1/8
2,Adam Craig Parore,1971-01-23,new zealand,Right-hand bat,NaN,1992-10-31,zimbabwe,179,161,3314,32,108,25.68,4867,68.09,1,14,169,36,116,25,0,0,0,0.00,0.000,0.00,0,0,0,0
3,Alex Ross Tait,1972-06-13,new zealand,Right-hand bat,Right-arm medium,1998-10-24,new zealand,5,5,35,2,13,11.66,32,109.30,0,0,2,1,0,0,120,88,3,29.33,4.400,40.00,0,0,2/37,2/37
4,Andre Ryan Adams,1975-07-17,new zealand,Right-hand bat,Right-arm fast-medium,2001-04-10,new zealand,42,34,419,10,45,17.45,417,100.40,0,0,31,18,8,0,1885,1643,53,31.00,5.229,35.56,1,0,5/22,5/22