In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
fl = pd.read_csv('all_odi_players.csv', parse_dates = ['Date of birth', 'ODI Debut'] )

In [3]:
pd.set_option('display.max_columns', 31)
fl

,Name,Date of birth,Team,Batting Style,Bowling Style,ODI Debut,Debut Team,Matches played,Innings,Total Run,Not Out,Highe Score,Batting Avg,Balls faced,Stick rate,100s,50s,4s,6s,Caught,Stumped,Balls,Runs,Wickets,Bowling Avg,Economy,Stick rate.1,5WI,10WM,BBI,BBM
0,Aaron James Redmond,1979-09-23,new zealand,Right-hand bat,Leg-break,2009-10-03,pakistan,6,6,152,0,52,25.33,259,58.68,0,1,19,0,3,0,0,0,0,0.00,0.000,0.00,0,0,0,0
1,Adam Fraser Milne,1992-04-13,new zealand,Right-hand bat,Right-arm fast,2012-11-10,sri lanka,40,17,168,7,36,16.80,165,101.80,0,0,11,4,21,0,1801,1581,41,38.56,5.267,43.92,0,0,1/8,1/8
2,Adam Craig Parore,1971-01-23,new zealand,Right-hand bat,Not-Bowled,1992-10-31,zimbabwe,179,161,3314,32,108,25.68,4867,68.09,1,14,169,36,116,25,0,0,0,0.00,0.000,0.00,0,0,0,0
3,Alex Ross Tait,1972-06-13,new zealand,Right-hand bat,Right-arm medium,1998-10-24,zimbabwe,5,5,35,2,13,11.66,32,109.30,0,0,2,1,0,0,120,88,3,29.33,4.400,40.00,0,0,2/37,2/37
4,Andre Ryan Adams,1975-07-17,new zealand,Right-hand bat,Right-arm fast-medium,2001-04-10,sri lanka,42,34,419,10,45,17.45,417,100.40,0,0,31,18,8,0,1885,1643,53,31.00,5.229,35.56,1,0,5/22,5/22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1962,Victor James Marks,1955-06-25,england,Right-hand bat,Off-break,1980-05-30,england,34,24,285,3,44,13.57,434,65.66,0,0,16,0,8,0,1838,1135,44,25.79,3.705,41.77,2,0,5/20,5/20
1963,Vikram Singh Solanki,1976-01-04,england,Right-hand bat,Off-break,2000-01-23,south africa,51,46,1097,5,106,26.75,1502,73.03,2,5,135,7,16,0,111,105,1,105.00,5.675,111.00,0,0,1/17,1/17
1964,Vincent John Wells,1965-06-08,england,Right-hand bat,Right-arm medium,1999-01-10,australia,9,7,141,0,39,20.14,253,55.73,0,0,8,2,7,0,220,189,8,23.62,5.154,27.50,0,0,3/30,3/30
1965,Wayne Larkins,1953-11-22,england,Right-hand bat,Right-arm medium,1979-06-20,england,25,24,591,0,124,24.62,1047,56.44,1,0,66,2,8,0,15,22,0,0.00,8.800,0.00,0,0,0/1,0/1
1966,Wilfred Norris Slack,1954-12-12,england,Left-hand bat,Right-arm medium,1986-03-04,west indies,2,2,43,0,34,21.50,85,50.58,0,0,5,1,0,0,0,0,0,0.00,0.000,0.00,0,0,0,0

In [4]:
fl.groupby('Team').count()

,Name,Date of birth,Batting Style,Bowling Style,ODI Debut,Debut Team,Matches played,Innings,Total Run,Not Out,Highe Score,Batting Avg,Balls faced,Stick rate,100s,50s,4s,6s,Caught,Stumped,Balls,Runs,Wickets,Bowling Avg,Economy,Stick rate.1,5WI,10WM,BBI,BBM
Team,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
afghanistan,32,32,32,32,32,32,32,32,32,32,32,32,32,32,32,32,32,32,32,32,32,32,32,32,32,32,32,32,32,32
australia,205,205,205,205,205,205,205,205,205,205,205,205,205,205,205,205,205,205,205,205,205,205,205,205,205,205,205,205,205,205
bangladesh,109,109,109,109,109,109,109,109,109,109,109,109,109,109,109,109,109,109,109,109,109,109,109,109,109,109,109,109,109,109
england,234,234,234,234,234,234,234,234,234,234,234,234,234,234,234,234,234,234,234,234,234,234,234,234,234,234,234,234,234,234
hong kong,30,30,30,30,30,30,30,30,30,30,30,30,30,30,30,30,30,30,30,30,30,30,30,30,30,30,30,30,30,30
india,204,204,204,204,204,204,204,204,204,204,204,204,204,204,204,204,204,204,204,204,204,204,204,204,204,204,204,204,204,204
ireland,41,41,41,41,41,41,41,41,41,41,41,41,41,41,41,41,41,41,41,41,41,41,41,41,41,41,41,41,41,41
netherlands,61,61,61,61,61,61,61,61,61,61,61,61,61,61,61,61,61,61,61,61,61,61,61,61,61,61,61,61,61,61
new zealand,184,184,184,184,184,184,184,184,184,184,184,184,184,184,184,184,184,184,184,184,184,184,184,184,184,184,184,184,184,184
pakistan,198,198,198,198,198,198,198,198,198,198,198,198,198,198,198,198,198,198,198,198,198,198,198,198,198,198,198,198,198,198
scotland,53,53,53,53,53,53,53,53,53,53,53,53,53,53,53,53,53,53,53,53,53,53,53,53,53,53,53,53,53,53
south africa,115,115,115,115,115,115,115,115,115,115,115,115,115,115,115,115,115,115,115,115,115,115,115,115,115,115,115,115,115,115
sri lanka,163,163,163,163,163,163,163,163,163,163,163,163,163,163,163,163,163,163,163,163,163,163,163,163,163,163,163,163,163,163
united arab emirates,49,49,49,49,49,49,49,49,49,49,49,49,49,49,49,49,49,49,49,49,49,49,49,49,49,49,49,49,49,49
west indies,172,172,172,172,172,172,172,172,172,172,172,172,172,172,172,172,172,172,172,172,172,172,172,172,172,172,172,172,172,172
zimbabwe,117,117,117,117,117,117,117,117,117,117,117,117,117,117,117,117,117,117,117,117,117,117,117,117,117,117,117,117,117,117