## importing CSV

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
fl1 = pd.read_csv('gdp_pc.csv')
fl2 = pd.read_csv('mlb_salaries_2014.csv')
fl3 = pd.read_csv('disease_democ.csv')

In [3]:
fl2.head()

,playerID,nameFirst,nameLast,nameFull,teamID,teamName,salary,salary_mil
0,arroybr01,Bronson,Arroyo,Bronson Arroyo,ARI,Arizona Diamondbacks,9500000,9.5000
1,cahiltr01,Trevor,Cahill,Trevor Cahill,ARI,Arizona Diamondbacks,7700000,7.7000
2,campato01,Tony,Campana,Tony Campana,ARI,Arizona Diamondbacks,509500,0.5095
3,chaveer01,Eric,Chavez,Eric Chavez,ARI,Arizona Diamondbacks,3500000,3.5000
4,collmjo01,Josh,Collmenter,Josh Collmenter,ARI,Arizona Diamondbacks,925000,0.9250

In [41]:
from matplotlib import pyplot as plt


fl2_team = fl2.groupby('teamName').sum()
# fl2_team.loc['teamName']

# a = fl2_team.loc[fl2_team['salary_mil'] > 100,'salary_mil']
# a

team = [team for team, df in fl2_team.groupby('teamName')]


# plt.barh( team, fl2_team['salary'], linewidth = 5)

# plt.title('summa time pass')
# plt.yticks( fontsize = 10, linespacing = 2)
# plt.xlabel('Team')
# plt.ylabel('Salary')
# plt.grid(True)
# # plt.legend()
# plt.show()


fl2_hiSal = fl2.sort_values(['salary', 'teamID'], ascending=False)
fl2_hiSal = fl2_hiSal.head(25)

fl2_hiSal['salary'].mean()

21589994.28