In [109]:
import numpy as np 
import pandas as pd 
import datetime

fl = pd.read_csv('icc/new zealand-player.csv')

In [110]:
fl['Date of birth'] = pd.to_datetime(fl['Date of birth'])

In [111]:
deb = fl['Debut Team'].apply(lambda x: x.split(' v'))

In [112]:
fl['Team'] = fl['Team'].str.capitalize()

def te(x):
    if x[0] == fl['Team'].all():
        return x[1]
    else:
        return x[0]
        
fl['Debut Team'] = deb.apply(te)

In [113]:
pd.set_option('display.max_columns', 31)
fl

,Name,Date of birth,Team,Batting Style,Bowling Style,ODI Debut,Debut Team,Matches played,Innings,Total Run,Not Out,Highe Score,Batting Avg,Balls faced,Stick rate,100s,50s,4s,6s,Caught,Stumped,Balls,Runs,Wickets,Bowling Avg,Economy,Stick rate.1,5WI,10WM,BBI,BBM
0,Aaron James Redmond,1979-09-23,New zealand,Right-hand bat,Leg-break,"October 3,2009",New Zealand,6,6,152,0,52,25.33,259,58.68,0,1,19,0,3,0,--,--,--,--,--,--,--,--,NaN,NaN
1,Adam Fraser Milne,1992-04-13,New zealand,Right-hand bat,Right-arm fast,"November 10,2012",Sri Lanka,40,17,168,7,36,16.80,165,101.8,0,0,11,4,21,0,1801,1581,41,38.56,5.267,43.92,0,0,1/8,1/8
2,Adam Craig Parore,1971-01-23,New zealand,Right-hand bat,NaN,"October 31,1992",Zimbabwe,179,161,3314,32,108,25.68,4867,68.09,1,14,169,36,116,25,--,--,--,--,--,--,--,--,NaN,NaN
3,Alex Ross Tait,1972-06-13,New zealand,Right-hand bat,Right-arm medium,"October 24,1998",New Zealand,5,5,35,2,13*,11.66,32,109.3,0,0,2,1,--,--,120,88,3,29.33,4.400,40.00,0,0,2/37,2/37
4,Andre Ryan Adams,1975-07-17,New zealand,Right-hand bat,Right-arm fast-medium,"April 10,2001",New Zealand,42,34,419,10,45,17.45,417,100.4,0,0,31,18,8,0,1885,1643,53,31.00,5.229,35.56,1,0,5/22,5/22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179,Vaughan Raymond Brown,1959-03-11,New zealand,Left-hand bat,Off-break,"January 17,1988",Australia,3,3,44,0,32,14.66,85,51.76,0,0,3,0,2,0,66,75,1,75.00,6.818,66.00,0,0,1/17,1/24
180,Victor Pollard,1945-07-09,New zealand,Right-hand bat,Off-break,"July 18,1973",England,3,2,67,0,55,33.50,145,46.20,0,1,9,1,1,0,--,--,--,--,--,--,--,--,NaN,NaN
181,Warren Kenneth Lees,1952-03-19,New zealand,Right-hand bat,Right-arm medium,"June 9,1979",New Zealand,31,24,215,5,26,11.31,301,71.42,0,0,10,3,28,2,--,--,--,--,--,--,--,--,NaN,NaN
182,Leslie Warren Stott,1946-08-12,New zealand,Right-hand bat,Right-arm medium,"June 9,1979",New Zealand,1,0,0,0,0,--,0,--,0,0,0,0,1,0,72,48,3,16.00,4.000,24.00,0,0,3/48,3/48
183,Warren Anthony Wisneski,1969-02-19,New zealand,Right-hand bat,Right-arm medium,"February 17,2000",New Zealand,3,2,10,1,6,10.00,17,58.82,0,0,1,0,1,0,114,123,0,--,6.473,--,0,0,0/30,0/30

In [114]:
fl['Highe Score'] = fl['Highe Score'].str.replace('*','')

In [115]:
def rep(x, a, b):
    return x.replace(a,b)

fl = fl.apply(rep, args=('--','0'))
fl = fl.apply(rep, args=('NaN','0'))

In [116]:
fl.fillna(value=0, inplace=True)
Dat = fl['ODI Debut'].str.replace(',', '-') 
fl['ODI Debut'] = pd.to_datetime(Dat)

In [117]:
cols = fl.columns[7:-2]

fl[cols] = fl[cols].apply(pd.to_numeric)

fl[fl['Highe Score'] >= 180]

,Name,Date of birth,Team,Batting Style,Bowling Style,ODI Debut,Debut Team,Matches played,Innings,Total Run,Not Out,Highe Score,Batting Avg,Balls faced,Stick rate,100s,50s,4s,6s,Caught,Stumped,Balls,Runs,Wickets,Bowling Avg,Economy,Stick rate.1,5WI,10WM,BBI,BBM
116,Martin James Guptill,1986-09-30,New zealand,Right-hand bat,Off-break,2009-01-10,New Zealand,159,156,5976,17,237,42.99,6918,86.38,13,34,613,148,76,0,109,98,4,24.5,5.394,27.25,0,0,2/6,2/6
159,Luteru Ross Poutoa Lote Taylor,1984-08-03,New zealand,Right-hand bat,Off-break,2006-03-01,New Zealand,205,190,7267,33,181,46.28,8770,82.86,19,41,606,127,130,0,42,35,0,0.0,5.000,0.00,0,0,0/2,0/2